@{
    ViewData["Title"] = "Home Page";
}

<div aurelia-app="bootFirst">Loading...</div>

@section scripts {
    <script type="text/javascript" src="~/dist/firstApp.js" asp-append-version="true"></script>
}
